body {
    background-color: rgb(70, 70, 70);
    color: aliceblue;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    padding: .5rem;
    margin: .5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(127, 153, 163);
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    background-image: linear-gradient(rgb(130, 130, 130),rgb(144, 144, 144))
}
nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 10px;

}
nav li a:hover{
    color: brown;
}
section.body img{
    max-width: 100%;
    width: 150px;
}
section.body {
    max-width: 80%;
}


footer {
    background-color: bisque;
    padding: .2rem;
    padding-right: .2rem;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    body{
        max-width: 85%;
        padding: 2rem;
        margin: .02rem;
    }
    section.body img{
        max-width: 100%;
        width: 30%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    nav{
        padding: 0rem;
        margin: 0rem;
    }
    nav li {
        padding: 1rem;
        margin: 1rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    footer {
        background-color: bisque;
        padding: 1%;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        color: black;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
    footer {
        background-color: bisque;
        padding: 1%;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        color: black;
        max-width: 40rem;
        justify-content: center;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media screen and (min-width: 1400px) { 
    main{
        max-width: 100%;
        display: flex;
    }
    section.body img{
        max-width: 100%;
        width: 55%;
    }
    footer {
        background-color: bisque;
        padding: 1%;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        color: black;
    }
    body img {
        max-width: 23%;
    }
}